@import "src/assets/variables";

.form-control {

  position: relative;

  width: 100%;

  label {
    display: block;
    margin-bottom: 3px;

    &.ng-invalid {
      color: $red;
    }
  }

  input {
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    outline: 1px solid $grey;
    height: 30px;
    border-radius: 3px;

    &.ng-invalid.ng-touched {
      outline-color: $red;
    }
  }

  .visibility-switcher {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 22px;
  }

}
