<div class="block-centered">

  <div class="inner">

    <img class="logo" src="assets/images/logo.svg" alt="logo">

    <h1>Olá, valide sua senha</h1>

    <form [formGroup]="formGroup" (ngSubmit)="submit()" novalidate>
      <app-input [control]="getFormControl('name')" label="Nome"></app-input>

      <app-input type="email" [control]="getFormControl('email')" label="E-mail" email></app-input>

      <app-input inputId="password" [control]="getFormControl('password')" label="Senha" type="password">
        <div errorContainer>
          <ul class="password-error-list" >
            <li *ngIf="checkPasswordHasError('required') as error">
              A senha é obrigatória
            </li>
            <li *ngIf="checkPasswordHasError('min') as error">
              A senha deve ser maior que {{error.min}}
            </li>
            <li *ngIf="checkPasswordHasError('max') as error">
              A senha deve ser menor que {{error.max}}
            </li>
            <li *ngIf="checkPasswordHasError('noDoubles')">
              A senha deve ter 2 dígitos adjacentes iguais
            </li>
            <li *ngIf="checkPasswordHasError('invalidOrder')">
              A senha deve conter digitos numa ordem crescente ou de mesmo valor
            </li>
          </ul>
        </div>
      </app-input>

      <app-alert *ngIf="passwordValidated"
                 [type]="passwordResponseAlertType"
                 [message]="passwordValidationMessage"
      ></app-alert>

      <app-button [loading]="requestLoading" [disabled]="!formValid" type="submit" label="Validar"></app-button>
    </form>

  </div>
</div>
